:root {
  --color-primary-50: #FFEFDE;
  --color-primary-100: #FFE2C4;
  --color-primary-200: #FFCA91;
  --color-primary-300: #FFB15E;
  --color-primary-400: #FF982B;
  --color-primary-500: #F77F00;
  --color-primary-600: #C46500;
  --color-primary-700: #914B00;
  --color-primary-800: #5E3000;
  --color-primary-900: #2B1600;

  font-size: 14px;
  line-height: 20px;
}

a {
  @apply text-primary-500 hover:text-primary-600 focus:text-primary-700 hover:underline focus:underline;
}
