@import '~buefy/dist/buefy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-size: 14px;
    line-height: 20px;
    height: 100%;
  }

  a {
    @apply text-primary-500 hover:text-primary-600 focus:text-primary-700 hover:underline focus:underline;
  }
}

@layer components {
  .button.is-primary {
    @apply bg-primary-400 hover:bg-primary-500;
  }

  .switch input[type=checkbox]:checked + .check.is-primary {
    @apply bg-primary-400;
  }

  .switch:hover input[type=checkbox]:checked + .check.is-primary {
    @apply bg-primary-300;
  }

  .has-text-primary {
    @apply text-primary-400 !important;
  }
}

@import './splitpanes.css';
