
.splitpanes .splitpanes__pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: white;
}

.splitpanes.default-theme .splitpanes__splitter {
  border-right: 1px solid #eee;
}
